<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>EasyDocs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Página inicial</a>
            <a href="{% url 'files:pdf_generator' %}">Gerador de PDF</a>
            <a href="{% url 'files:file_management' %}">Gestão de arquivos</a>
        </nav>
    </header>
    {% block content %}
    <!-- O conteúdo da página vai aqui -->
    {% endblock %}
</body>
</html>
